<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{'transparentBody': scanning}">
  <ion-button (click)="scanQRCode()" expand="full">Start Scanning</ion-button>
  <ng-container >
    <div class="qrcode-container" [style.height]="'100vh'">
      <img src="./../../assets/icon/favicon.png" class="qr-code-sight"/>
      <div>
        <div>
          <button  (click)="closeScanner()" *ngIf="scanning">
            Close Scanner
          </button>

          <button  (click)="scanQRCode()" *ngIf="!scanning">
            Start Scanner
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</ion-content>

